
  
  body {
    /* display: inline-block;  */
    /* background-color: var(--bs-dark) !important; */
    /* text-align: center; */
    margin: 0;
    padding: 0;

    /* display: flex;
    background-image: url("../images/AdobeStock_285899549.jpeg");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: center;
    padding: 1px;
    height: 56rem; */
  }
  
  

  /* // test CSS. for chatroom */
  
  /* .wrapper {
    border: 2px solid var(--bs-secondary) !important;
    background-image: url('../images/AdobeStock_285899549.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center; 
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    align-items: center;
  } */
  .chatForm {
    display: flex;
    width: 100vw;
    margin-left: 40px;
  }
  .chatSubmit {
    margin: 0 10px;
  }
  .chatNavLogo {
    height: 100px;
    width: 80px;
    object-fit: contain;
    border-bottom: 2px solid black;
    margin: 5px 0;
  }
  .navBtn {
    border: none;
    background: none;
    margin: 15px 0;
    height: 80px;
  }
  

  /* ROOMS COMPONENT STYLE */
  .hidden {
    height: 1rem;
    padding: 10px 30px; 
  }
  .roomList {
    margin: 2px;
    padding: 2px;
    background: coral;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16pt;
  }
  .room {
    display: inline-flex;
    margin: 0;
    padding: 0;
  }
  

  .pubNav{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    padding-bottom: 0px;
    margin: 2px;
    
  }
  

  /* .roomsHead h1 {
    margin: auto;
  } */
  .btnHide {
    border: none;
    background: none;
    color: black;
    /* transform: rotate(-45deg); */
    padding: 0;
    margin: 0;

  }

  
  /* social component style */

  .mainChat {
    /* border: 2px solid blue; */
    
    width: 770px;
    height: 100vh;
    /* margin-right: auto; */
  }
  .chatBody {
    display: flex;
  }
  /* .text {
    color: white;
    z-index: 3;
  } */
  
  

  

/* // generalChat style #default */
.generalchatNav {
  display: flex;
  background-color: #E00095;
  flex-direction: column;
  max-width: 80px;
  height: 100vh;
}
.generalbg-image {
  background-image: url('../../assets/images/Background2.jpg');
  background-size: cover;
  height: 100vh;
}
.generalchatHead {
  background: #E00095;
  border-radius: 25px;
  margin: 15px 0px;
}
.generalchatFeed {
  border: 2px solid #E00095;
  border-radius: 25px; 
  width: 70%;
  height: 75vh;
  margin: 1rem 0;
  overflow: scroll;
  scroll-snap-align: inherit;
  /* color: white; */
  text-align: start;
}

.generalmessage {
  display: flex;
  background-color: #e0009588;
  /* opacity: .75; */
  border-radius: 25px;
  height: auto;
  width: fit-content;
  margin: 5px;
  padding: 2.5px 5px;
  text-align: left;
}

.generalmessage h6 {
  display: flex;
  color: white;
  z-index: 5;
  margin: auto;
  padding: 2.5px 0;
}

.generalchatPop {
  /* display: block; */
  direction: column;
  border: 2px solid #E00095;
  border-radius: 25px;
  width: 25%;
  height: 22.5rem;
  margin: 1rem 0;
  color: white;
  text-align: start;
  overflow: scroll;
}
.generaluserPopName {
  display: flex;
  background-color: #E0009588;
  border-radius: 50px;
  margin: 5px 5px;
}
.generaluserAv {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px outset #E00095;
  margin: auto 5px;
}

.generalroomsHead {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  background: #E00095;
  border-radius: 25px;
  margin: 10px 0px;
}
.generalroomsHead h1 {
  padding: none;
  margin: auto;
  align-items: center;
}
.generalroomsContainer { /*content container for all 4 components */
  border: 2px solid #E00095;
  border-radius: 25px;
  height: 18rem;
  overflow: scroll;
}


/* // Rock theme */

.rockchatNav {
  display: flex;
  background-color: #ca0303;
  flex-direction: column;
  max-width: 80px;
  height: 100vh;
}
.rockbg-image {
  background-image: url('../../assets/images/bg-RockChat.jpeg');
  background-size: cover;
  height: 100vh;
}
.rockchatHead {
  background: #ca0303;
  border-radius: 25px;
  margin: 15px 0px;
}
.rockchatFeed {
  border: 2px solid #ca0303;
  border-radius: 25px; 
  width: 70%;
  height: 75vh;
  margin: 1rem 0;
  overflow: scroll;
  scroll-snap-align: inherit;
  /* color: white; */
  text-align: start;
}

.rockmessage {
  display: flex;
  background-color: #ca030388;
  /* opacity: .75; */
  border-radius: 25px;
  height: auto;
  width: fit-content;
  margin: 5px;
  padding: 2.5px 5px;
  text-align: left;
}

.rockmessage h6 {
  display: flex;
  color: white;
  z-index: 5;
  margin: auto;
  padding: 2.5px 0;
}

.rockchatPop {
  /* display: block; */
  direction: column;
  border: 2px solid #ca0303;
  border-radius: 25px;
  width: 25%;
  height: 22.5rem;
  margin: 1rem 0;
  color: white;
  text-align: start;
  overflow: scroll;
}
.rockuserPopName {
  display: flex;
  background-color: #ca030388;
  border-radius: 50px;
  margin: 5px 5px;
}
.rockuserAv {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px outset #E00095;
  margin: auto 5px;
}

.rockroomsHead {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  background: #ca0303;
  border-radius: 25px;
  margin: 10px 0px;
}
.rockroomsHead h1 {
  padding: none;
  margin: auto;
  align-items: center;
}
.rockroomsContainer { /*content container for all 4 components */
  border: 2px solid #ca0303;
  border-radius: 25px;
  height: 18rem;
  overflow: scroll;
}

/* // Classical Theme */

.classicalchatNav {
  display: flex;
  background-color: #b39f60;
  flex-direction: column;
  max-width: 80px;
  height: 100vh;
}
.classicalbg-image {
  background-image: url('../../assets/images/bg-ClassicalChat.jpeg');
  background-size: cover;
  height: 100vh;
}
.classicalchatHead {
  background: #b39f60;
  border-radius: 25px;
  margin: 15px 0px;
}
.classicalchatFeed {
  border: 2px solid #b39f60;
  border-radius: 25px; 
  width: 70%;
  height: 75vh;
  margin: 1rem 0;
  overflow: scroll;
  scroll-snap-align: inherit;
  /* color: white; */
  text-align: start;
}

.classicalmessage {
  display: flex;
  background-color: #b39f6088;
  /* opacity: .75; */
  border-radius: 25px;
  height: auto;
  width: fit-content;
  margin: 5px;
  padding: 2.5px 5px;
  text-align: left;
}

.classicalmessage h6 {
  display: flex;
  color: white;
  z-index: 5;
  margin: auto;
  padding: 2.5px 0;
}

.classicalchatPop {
  /* display: block; */
  direction: column;
  border: 2px solid #b39f60;
  border-radius: 25px;
  width: 25%;
  height: 22.5rem;
  margin: 1rem 0;
  color: white;
  text-align: start;
  overflow: scroll;
}
.classicaluserPopName {
  display: flex;
  background-color: #b39f6088;
  border-radius: 50px;
  margin: 5px 5px;
}
.classicaluserAv {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px outset #E00095;
  margin: auto 5px;
}

.classicalroomsHead {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  background: #b39f60;
  border-radius: 25px;
  margin: 10px 0px;
}
.classicalroomsHead h1 {
  padding: none;
  margin: auto;
  align-items: center;
}
.classicalroomsContainer { /*content container for all 4 components */
  border: 2px solid #b39f60;
  border-radius: 25px;
  height: 18rem;
  overflow: scroll;
}
/* // HipHop Theme */

.hipHopchatNav {
  display: flex;
  background-color: #265c21;
  flex-direction: column;
  max-width: 80px;
  height: 100vh;
}
.hipHopbg-image {
  background-image: url('../../assets/images/bg-HipHopChat.jpeg');
  background-size: cover;
  height: 100vh;
}
.hipHopchatHead {
  background: #265c21;
  border-radius: 25px;
  margin: 15px 0px;
}
.hipHopchatFeed {
  border: 2px solid #265c21;
  border-radius: 25px; 
  width: 70%;
  height: 75vh;
  margin: 1rem 0;
  overflow: scroll;
  scroll-snap-align: inherit;
  /* color: white; */
  text-align: start;
}

.hipHopmessage {
  display: flex;
  background-color: #265c2188;
  /* opacity: .75; */
  border-radius: 25px;
  height: auto;
  width: fit-content;
  margin: 5px;
  padding: 2.5px 5px;
  text-align: left;
}

.hipHopmessage h6 {
  display: flex;
  color: white;
  z-index: 5;
  margin: auto;
  padding: 2.5px 0;
}

.hipHopchatPop {
  /* display: block; */
  direction: column;
  border: 2px solid #265c21;
  border-radius: 25px;
  width: 25%;
  height: 22.5rem;
  margin: 1rem 0;
  color: white;
  text-align: start;
  overflow: scroll;
}
.hipHopuserPopName {
  display: flex;
  background-color: #265c2188;
  border-radius: 50px;
  margin: 5px 5px;
}
.hipHopuserAv {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px outset #E00095;
  margin: auto 5px;
}

.hipHoproomsHead {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  background: #265c21;
  border-radius: 25px;
  margin: 10px 0px;
}
.hipHoproomsHead h1 {
  padding: none;
  margin: auto;
  align-items: center;
}
.hipHoproomsContainer { /*content container for all 4 components */
  border: 2px solid #265c21;
  border-radius: 25px;
  height: 18rem;
  overflow: scroll;
}
/* //  POP Theme */

.popchatNav {
  display: flex;
  background-color: #9954c2;
  flex-direction: column;
  max-width: 80px;
  height: 100vh;
}
.popbg-image {
  background-image: url('../../assets/images/bg-PopChat.jpeg');
  background-size: cover;
  height: 100vh;
}
.popchatHead {
  background: #9954c2;
  border-radius: 25px;
  margin: 15px 0px;
}
.popchatFeed {
  border: 2px solid #9954c2;
  border-radius: 25px; 
  width: 70%;
  height: 75vh;
  margin: 1rem 0;
  overflow: scroll;
  scroll-snap-align: inherit;
  /* color: white; */
  text-align: start;
}

.popmessage {
  display: flex;
  background-color: #9954c288;
  /* opacity: .75; */
  border-radius: 25px;
  height: auto;
  width: fit-content;
  margin: 5px;
  padding: 2.5px 5px;
  text-align: left;
}

.popmessage h6 {
  display: flex;
  color: white;
  z-index: 5;
  margin: auto;
  padding: 2.5px 0;
}

.popchatPop {
  /* display: block; */
  direction: column;
  border: 2px solid #9954c2;
  border-radius: 25px;
  width: 25%;
  height: 22.5rem;
  margin: 1rem 0;
  color: white;
  text-align: start;
  overflow: scroll;
}
.popuserPopName {
  display: flex;
  background-color: #9954c288;
  border-radius: 50px;
  margin: 5px 5px;
}
.popuserAv {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px outset #E00095;
  margin: auto 5px;
}

.poproomsHead {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  background: #9954c2;
  border-radius: 25px;
  margin: 10px 0px;
}
.poproomsHead h1 {
  padding: none;
  margin: auto;
  align-items: center;
}
.poproomsContainer { /*content container for all 4 components */
  border: 2px solid #9954c2;
  border-radius: 25px;
  height: 18rem;
  overflow: scroll;
}

/* // Indie Theme */

.indiechatNav {
  display: flex;
  background-color: #ac610d;
  flex-direction: column;
  max-width: 80px;
  height: 100vh;
}
.indiebg-image {
  background-image: url('../../assets/images/bg-IndieChat.jpeg');
  background-size: cover;
  height: 100vh;
}
.indiechatHead {
  background: #ac610d;
  border-radius: 25px;
  margin: 15px 0px;
}
.indiechatFeed {
  border: 2px solid #ac610d;
  border-radius: 25px; 
  width: 70%;
  height: 75vh;
  margin: 1rem 0;
  overflow: scroll;
  scroll-snap-align: inherit;
  /* color: white; */
  text-align: start;
}

.indiemessage {
  display: flex;
  background-color: #ac610d88;
  /* opacity: .75; */
  border-radius: 25px;
  height: auto;
  width: fit-content;
  margin: 5px;
  padding: 2.5px 5px;
  text-align: left;
}

.indiemessage h6 {
  display: flex;
  color: white;
  z-index: 5;
  margin: auto;
  padding: 2.5px 0;
}

.indiechatPop {
  /* display: block; */
  direction: column;
  border: 2px solid #ac610d;
  border-radius: 25px;
  width: 25%;
  height: 22.5rem;
  margin: 1rem 0;
  color: white;
  text-align: start;
  overflow: scroll;
}
.indieuserPopName {
  display: flex;
  background-color: #ac610d88;
  border-radius: 50px;
  margin: 5px 5px;
}
.indieuserAv {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px outset #E00095;
  margin: auto 5px;
}

.indieroomsHead {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  background: #ac610d;
  border-radius: 25px;
  margin: 10px 0px;
}
.indieroomsHead h1 {
  padding: none;
  margin: auto;
  align-items: center;
}
.indieroomsContainer { /*content container for all 4 components */
  border: 2px solid #ac610d;
  border-radius: 25px;
  height: 18rem;
  overflow: scroll;
}