/* body {
    
} */

.supportbg {
    background-image: url(../../assets/images/supportBg-03.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.accordionseparate {
    margin-top: 10vh;
}

.bodycontainer {
    width: 90vw;
    height: fit-content;
}

.hiddenformbutton {
    display: none;
}