.user-banner {
    background-image: url("../../assets/images/Asset\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
}

.user-welcome {
    height: 30vh;
}

.welcome-text {
    height: 10vh;
    border-radius: 50px;
}

.avatar-img {
    height: 55vh;
    background-image: url("../../assets/images/user-avatar.png");
}

.scrollspy-example {
    position: relative;
    height: 200px;
    overflow: auto;
  }