
.Toplogo {
  height: 141px;
  width: 211px;
}

.loginBTN {
  margin-top: -5%;
  margin-right: -75%;
  border-radius: 50%
}

.registerBTN {
  margin-top: -3%;
  margin-right: -90%;
}

.backgroundPic {
  width: 1860px;
  height: 750px;
  margin-top: 1.6%;
}

.underlining {
  margin-top: 5%;
}

.pink-line{
  background-color: var(--bs-secondary);
  height: .2rem;
}

.Cards {
  width: 80%;
  margin: 3%;
}

.AnthonyCard {
background-color: #098EC3
}

.TrevorCard {
background-color: #15B6F4;
}

.TaylorCard {
background-color: #A8166A;
}


.content-wrap {
  padding-bottom: 1.8rem; 
}

.App {
  text-align: center;
  position: relative;
  height: 25vh;
  display:flex; 
  flex-direction:column; 
}

.constrain {
  width: 80vw;
}

.body {
  overflow: hidden;
}
