/* 
.Toplogo {
  height: 141px;
  width: 211px;
}

.loginBTN {
  margin-top: -5%;
  margin-right: -75%;
  border-radius: 50%
}

.registerBTN {
  margin-top: -3%;
  margin-right: -90%;
}

.aboutbackgroundPic {
  width: 1860px;
  height: 750px;
  margin-top: 1.6%;
}

.aboutunderlining {
  margin-top: 5%;
}

.aboutpink-line{
  background-color: var(--bs-secondary);
  height: .2rem;
}

.aboutCards {
  width: 80%;
  margin: 3%;
}

.AnthonyCard {
background-color: #098EC3
}

.TrevorCard {
background-color: #15B6F4;
}

.TaylorCard {
background-color: #A8166A;
}


.aboutcontent-wrap {
  padding-bottom: 1.8rem; 
}

.aboutApp {
  text-align: center;
  position: relative;
  height: 25vh;
  display:flex; 
  flex-direction:column; 
}

.aboutconstrain {
  width: 80vw;
}

.aboutbody {
  overflow: hidden;
} */

.aboutbackgroundPic {
  background-image: url(../../assets/images/showyourgroove-homeheader.png);
  height: 80vh;
  width: 100%;
}

.aboutunderlining {
  margin-top: 5%;
}

.aboutpink-line{
  background-color: var(--bs-secondary);
  height: .2rem;
}

.aboutCards {
  width: 80%;
  margin: 3%;
}

.AnthonyCard {
background-color: #098EC3
}

.AnthonyOutline {
  width: fit-content;
  height: fit-content;
  line-height: 50px;
  border-radius: 30px;
  text-align: center;
  border: 3px solid #15B6F4;
  background: transparent;
}

.TrevorCard {
background-color: #15B6F4;
}

.TrevorOutline {
  width: fit-content;
  height: fit-content;
  line-height: 50px;
  border-radius: 30px;
  text-align: center;
  border: 3px solid #58D1FF;
  background: transparent;
}

.TaylorCard {
background-color: #A8166A;
}

.TaylorOutline {
  width: fit-content;
  height: fit-content;
  line-height: 50px;
  border-radius: 30px;
  text-align: center;
  border: 3px solid #E00095;
  background: transparent;
}

.aboutcenternames {
  width: 100%;
  border-radius: 100px;
}

.aboutfooter {
  margin-top: auto
}

.aboutcontent-wrap {
  padding-bottom: 1.8rem; 
}

.aboutApp {
  text-align: center;
  position: relative;
  height: 25vh;
  display:flex; 
  flex-direction:column; 
}

.aboutconstrain {
  width: 80vw;
}

.aboutbody {
  overflow: hidden;
}
